%body
  .product
    .product__container
      = form_for (@product) do |f|
        .product__form
          .product__number#f.label 図面番号
          .product__number__form
          = f.text_field :drawing_number,placeholder: '図面番号'
          .product__drawing#f.label 図面
          .product__frawing__form
          = f.text_field :image, placeholder: 'ImageURL'
          .product__memo#f.label メモ
          .product__memo__form
          = f.text_field :memo, placeholder: 'メモを書いてね'
          .product__finishedproduct#f.label 完成後の写真
          .product__finishedproduct__form
          = f.text_field :finished_product, placeholder: 'ImageURL'
          .product__client#f.label 顧客名
          .product__client__form
          = f.text_field :client_name, placeholder: '顧客名を入力してください'
          .product__button
          = button_tag type: 'submit',class: '' do
            登録する

              
