%script{src: "dropzone.js"}
%script{:src => "jquery.js"}
%body
  .product
    .product__container
      = form_for @product do |f|
        .product__form
        #f.label 図面番号
        = f.text_field :drawing_number,placeholder: '図面番号'
        #f.label 図面
        .uploader-5#preview
          =f.label :drawing_image , id: "files" do
            =f.file_field :drawing_image, multiple: true, class: "", style: "display: none;", onchange: "previewFile()"
            .my-awesome-dropzone.dropzone{:action => "/file-upload"}
              %p
              ドラッグアンドドロップまたは
              %br
              クリックしてファイルをアップロード
        #f.label メモ
        = f.text_field :memo, placeholder: 'メモを書いてね'
        #f.label 顧客名
        = f.text_field :client_name, placeholder: '顧客名を入力してください'
        #f.label 完成写真
        .uploader-5#preview
          =f.label :finished_product , id: "files" do
            =f.file_field :finished_product, multiple: true, class: "", style: "display: none;", onchange: "previewFile()"
            .my-awesome-dropzone.dropzone{:action => "/file-upload"}
              %p
              ドラッグアンドドロップまたは
              %br
              クリックしてファイルをアップロード
        .product__button
          = button_tag type: 'submit',class: '' do
            登録する
