!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 図面管理アプリ
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tag

%body
  .body__main
  %header
    .header__bar
      .header__center
        .header__side
          %h1
            %a{:href => "/"} TOP
          - if user_signed_in?
            .header__side1
              %span
                = current_user.name
                %ul.user__info
                  %li
                    .header__mypage
                      %a{:href => "/"} マイページ
                    .header__logout
                      = link_to "ログアウト", destroy_user_session_path, method: :delete

          - else
            .header__side2
              .header__login
                = link_to "ログイン", new_user_session_path, class: 'post'
              .hedaer__new
                = link_to "新規登録", new_user_registration_path, class: 'post'
      

  = yield